body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 167, 138);
}

input {
    width: 85%;
    height: 30px;
    font-size: 25px;
}

#addButton {
    height: 30px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    text-align: left;
}

.task {
    width: 80%;
}

.Yes {
    background-color: rgba(31, 156, 31, 0.418);
}

.No {
    background-color: rgba(197, 21, 21, 0.336);
}

body {
    background-color: rgb(173, 216, 230);
}

th {
    background-color: rgb(56, 122, 145);
}